@using Bumbo.Domain.Models
@model Bumbo.Web.Models.DashboardModel

@{
    ViewData["Title"] = "Home Page";
}

@if (this.User.IsInRole("Medewerker"))
{
    <div class="container-fluid d-flex flex-column">
        <div class="header">
            <div class="d-flex">
                <h1 class="text-white">Dashboard</h1>
            </div>
        </div>

        <div class="d-flex mt-4 row">
            <div class="shadow d-flex flex-column border w-100 p-3 bg-white rounded">
                <h5>Planning deze week</h5>
                <div id="calendarMedewerker"></div>
            </div>
        </div>

        <div class="d-flex mt-4 row">
            <div class="shadow d-flex flex-column border p-3 bg-white rounded col-5">
                <h5>In- en uitklokken</h5>
                <div class="overflow-auto" style="max-height: 265px;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-3">Ingeklokt</th>
                            <th class="col-3">Uitgeklokt</th>
                            <th class="col-3">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model.medewerkerRegistrations.Count() != 0)
                        {
                            @foreach (Registration reg in Model.medewerkerRegistrations)
                            {
                                <tr>
                                    <td>
                                        @reg.StartDate.ToString("G")
                                    </td>
                                    <td>
                                        @if (reg.EndDate != null)
                                        {
                                            @reg.EndDate.ToString()
                                            ;
                                        }
                                    </td>
                                    <td>
                                        @if (reg.CorrectClocking == null)
                                        {
                                            <i class="bi bi-hourglass-split" style="font-style: normal">&nbsp;Nog aan het werk</i>
                                        }
                                        else if (reg.CorrectClocking == true)
                                        {
                                            <i class="bi bi-calendar-check" style="font-style: normal">&nbsp;Correct uitgeklokt</i>
                                        }
                                        else if (reg.CorrectClocking == false)
                                        {
                                            <i class="bi bi-calendar-x" style="font-style: normal">&nbsp;Niet uitgeklokt</i>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" style="text-align: center;">Er is nog niet ingeklokt</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="shadow d-flex flex-column border p-3 bg-white rounded col-6">
                <h5>Beschikbaarheid</h5>
                <div class="overflow-auto" style="max-height: 265px;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-3">Startdatum</th>
                            <th class="col-3">Einddatum</th>
                            <th class="col-2">Type</th>
                            <th class="col-1">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model.medewerkerAvailability.Count() != 0)
                        {
                            @foreach (Availability ava in Model.medewerkerAvailability)
                            {
                                <tr>
                                    <td>
                                        @ava.Start.ToString("G")
                                    </td>
                                    <td>
                                        @ava.End.ToString("G")
                                    </td>
                                    <td>
                                        @Enum.GetName(typeof(Availability.AvailabilityType), ava.Type)
                                    </td>
                                    <td>
                                        @Enum.GetName(typeof(Availability.Status), ava.ApprovalStatus)
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" style="text-align: center;">Er is geen beschikbaarheid opgegeven</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/Dashboard/Medewerker.js"></script>
}
else if(this.User.IsInRole("Manager") || this.User.IsInRole("Systeembeheerder"))
{
    <div class="container-fluid d-flex flex-column">
        <div class="header">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="text-white">Dashboard</h1>
                <div>
                    <a class="btn bg-gray-800 text-white" asp-controller="Agenda" asp-action="EmployeeSchedule">Persoonlijke Agenda</a>
                </div>
            </div>
        </div>

        <div class="d-flex mt-4 row">
            <div class="shadow d-flex flex-column border w-100 p-3 bg-white rounded">
                <h5>Planning deze week</h5>
                <div id="calendarManager"></div>
            </div>
        </div>

        <div class="d-flex mt-4 row">
            <div class="shadow d-flex flex-column border p-3 bg-white rounded col-5">
                <h5>In-en Uitklokken Vandaag</h5>
                <div class="overflow-auto" style="max-height: 265px;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-3">Persoon</th>
                            <th class="col-3">Ingeklokt</th>
                            <th class="col-3">Uitgeklokt</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model.managerRegistrations.Count() != 0)
                        {
                            @foreach (Registration reg in Model.managerRegistrations)
                            {
                                <tr>
                                    @{
                                        if (@reg.Employee.MiddleName == null)
                                        {
                                            <td>@reg.Employee.FirstName @reg.Employee.LastName</td>
                                        }
                                        else
                                        {
                                            <td>@reg.Employee.FirstName @reg.Employee.MiddleName @reg.Employee.LastName</td>
                                        }
                                    }
                                    <td>
                                        @reg.StartDate.ToString("hh:mm:ss")
                                    </td>
                                    <td>
                                        @if (reg.EndDate != null)
                                        {
                                            @reg.EndDate.Value.ToString("hh:mm:ss");
                                        }
                                        else
                                        {
                                            <i class="bi bi-hourglass-split" style="font-style: normal">&nbsp;Nog aan het werk</i>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" style="text-align: center;">Er is nog niet ingeklokt</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="shadow d-flex flex-column border p-3 bg-white rounded col-6">
                <h5>Beschikbaarheid Vandaag</h5>
                <div class="overflow-auto" style="max-height: 265px;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-2">Persoon</th>
                            <th class="col-2">Startdatum</th>
                            <th class="col-2">Einddatum</th>
                            <th class="col-2">Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model.managerAvailability.Count() != 0)
                        {
                            @foreach (Availability ava in Model.managerAvailability)
                            {
                                <tr>
                                    @{
                                        if (@ava.Employee.MiddleName == null)
                                        {
                                            <td>@ava.Employee.FirstName @ava.Employee.LastName</td>
                                        }
                                        else
                                        {
                                            <td>@ava.Employee.FirstName @ava.Employee.MiddleName @ava.Employee.LastName</td>
                                        }
                                    }
                                    <td>
                                        @ava.Start.ToString("dd/MM/yyyy hh:mm")
                                    </td>
                                    <td>
                                        @ava.End.ToString("dd/MM/yyyy hh:mm")
                                    </td>
                                    <td>
                                        @Enum.GetName(typeof(Availability.AvailabilityType), ava.Type)
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" style="text-align: center;">Er is geen beschikbaarheid opgegeven voor vandaag</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/Dashboard/Manager.js"></script>
}