@model Bumbo.Web.Models.Employee.EditEmployeeModel

@{
    ViewData["Title"] = "Medewerker aanpassen";
}

<link href="~/css/EmployeeOverview.css" rel="stylesheet" type="text/css" />
<script src="~/js/Employee/getUrl.js" type="text/javascript" language="javascript" defer></script>
<script src="~/js/Employee/EmployeeEdit.js" type="text/javascript" language="javascript" defer></script>

<div class="container-fluid">
    <h1 class="text-white">Werknemers gegevens wijzigen</h1>

    <!-- Employee info Edit -->
    <div class="me-5 row">
        <div id="EmployeeEdit" class="shadow border p-3 bg-white rounded">
            <h4 class="pb-2">@Model.Employee.FirstName @Model.Employee.MiddleName @Model.Employee.LastName</h4>
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="@Model.Employee.EmployeeId" class="form-control" />
                <input type="hidden" asp-for="@Model.Employee.userId" class="form-control" />
                <input type="hidden" asp-for="@Model.Employee.TagId" class="form-control" />
                <input type="hidden" asp-for="@Model.Employee.Bsn" class="form-control" />
                <input type="hidden" asp-for="Url" id="form-current-url" class="visually-hidden" readonly />
                <div class="row">
                    <div class="col-5">
                        <div class="row">
                            <h5>Persoonlijke Gegevens</h5>
                            <div class="col-4">
                                <div class="form-group mb-3">
                                    <label class="form-label">Voornaam</label>
                                    <input asp-for="@Model.Employee.FirstName" class="form-control" />
                                    <span asp-validation-for="@Model.Employee.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-3">
                                    <label class="form-label">Tussenvoegsels</label>
                                    <input asp-for="@Model.Employee.MiddleName" class="form-control" />
                                    <span asp-validation-for="@Model.Employee.MiddleName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-3">
                                    <label class="form-label">Achternaam</label>
                                    <input asp-for="@Model.Employee.LastName" class="form-control" />
                                    <span asp-validation-for="@Model.Employee.LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <div class="form-group mb-3">
                                    <label class="form-label">Email</label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group mb-3">
                                    <label class="form-label">Telefoon nummer</label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <div class="form-group mb-3">
                                    <label asp-for="@Model.Employee.Iban" class="form-label"></label>
                                    <input asp-for="@Model.Employee.Iban" class="form-control" />
                                    <span asp-validation-for="@Model.Employee.Iban" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group mb-3">
                                    <label asp-for="@Model.Employee.BirthDate" class="form-label">Geboortedatum</label>
                                    <input asp-for="@Model.Employee.BirthDate" class="form-control" type="date" max="@DateTime.Today.AddYears(-15).ToString("yyyy-MM-dd")" />
                                    <span asp-validation-for="@Model.Employee.BirthDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="verticalLine"></div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <h5>Adres</h5>
                            <div class="col-3">
                                <div class="form-group mb-3">
                                    <label class="form-label">Postcode</label>
                                    <input asp-for="@Model.Employee.ZipCode" class="form-control" />
                                    <span asp-validation-for="@Model.Employee.ZipCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group mb-3">
                                    <label class="form-label">Huisnummer</label>
                                    <input asp-for="@Model.Employee.HouseNumber" class="form-control" />
                                    <span asp-validation-for="@Model.Employee.HouseNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Straatnaam</label>
                                    <input asp-for="@Model.Employee.StreetName" class="form-control" />
                                    <span asp-validation-for="@Model.Employee.StreetName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group mb-3">
                                    <label class="form-label">Stad</label>
                                    <input asp-for="@Model.Employee.City" class="form-control" />
                                    <span asp-validation-for="@Model.Employee.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-3">
                                    <label class="form-label">Provincie</label>
                                    <input asp-for="@Model.Employee.State" class="form-control" />
                                    <span asp-validation-for="@Model.Employee.State" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-3">
                                    <label class="form-label">Land</label>
                                    <input asp-for="@Model.Employee.Country" class="form-control" />
                                    <span asp-validation-for="@Model.Employee.Country" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="horizontalLine"/>
                        <div class="row">
                            <h5>Bumbo</h5>
                            <div class="col-3">
                                <div class="row">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Winkel</label>
                                        <select asp-for="@Model.Employee.BranchId" class="form-control" asp-items="ViewBag.Branches"></select>
                                        <span asp-validation-for="@Model.Employee.BranchId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Uitbetalings Interval</label>
                                        <select asp-for="@Model.Employee.Period" class="form-control" asp-items="ViewBag.Period"></select>
                                        <span asp-validation-for="@Model.Employee.Period" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Rol</label>
                                        <select asp-for="@Model.Roll" class="form-control" asp-items="ViewBag.Rolls"></select>
                                        <span asp-validation-for="@Model.Roll" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Afdelingen</label>
                                    <select asp-for="@Model.Departments" class="form-control departmensSelect" asp-items="ViewBag.Departments" multiple></select>
                                    <span asp-validation-for="@Model.Departments" class="text-danger"></span>
                                    <p class="fw-lighter">Gebruik Ctrl om meerdere afdelingen  te selecteren</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <input type="submit" value="Bijwerken" class="btn btn-lg btn-outline-bumbo bg-bumbo-yellow" />
                </div>
            </form>
        </div>
    </div>
    <!-- Contracts -->
    <div class="mt-3 row">
        <!-- Contracts -->
        <div class="shadow border p-3 bg-white rounded">

            <h4>Contracten</h4>
            <div class="ContractContainer">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Functie
                            </th>
                            <th>
                                Schaal
                            </th>
                            <th>
                                Uren
                            </th>
                            <th>
                                Startdatum
                            </th>
                            <th>
                                Einddatum
                            </th>
                            <th>
                                Beëindigen
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (dynamic item in ViewBag.Contracts)
                        {
                            <tr>
                                <td>
                                    @item.Function.Name
                                </td>
                                <td>
                                    @item.Scale
                                </td>
                                <td>
                                    @item.MinimalHours
                                </td>
                                <td>
                                    @{
                                        string StartDate = item.StartDate.ToString("dd/MM/yyyy");
                                    }
                                    @Html.DisplayFor(modelItem => StartDate)
                                </td>
                                <td>
                                    @{
                                        if (item.EndDate != null)
                                        {
                                            string EndDate = item.EndDate.ToString("dd/MM/yyyy");

                                            @Html.DisplayFor(modelItem => EndDate)
                                        }
                                    }
                                </td>
                                <td>
                                    @if (item.EndDate < DateTime.Now)
                                    {
                                        <p>Beëindigd</p>
                                    }
                                    else
                                    {
                                        <div class="d-flex">
                                            <a class="btn btn-danger" onclick="DeleteAvailability(@item.ContractId)">
                                                <i class="bi bi-x-circle"></i>
                                            </a>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-between m-2">
                <a asp-controller="Employee" asp-action="CreateContract" asp-route-id="@Model.Employee.EmployeeId" type="button" class="btn btn-outline-bumbo bg-bumbo-yellow">
                    Voeg Contract Toe
                </a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalContractDelete" tabindex="-1" role="dialog" aria-labelledby="ContractModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Contract Beëindigen</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" data-bs-toggle="modal">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                Weet u zeker dat u het contract van @Model.Employee.FirstName @Model.Employee.MiddleName @Model.Employee.LastName wilt beëindigen?
            </div>
            <div class="modal-footer">
                <form method="post">
                    <input type="hidden" id="deleteContractId" name="contractId">
                    <button type="submit" id="deleteButton" class="btn btn-danger" asp-controller="Employee" asp-action="EndContract">Verwijder</button>
                </form>
            </div>
        </div>
    </div>
</div>