@using Bumbo.Domain.Models
@model IEnumerable<Availability>

@{
    ViewBag.Title = "Onbeschikbaarheid beoordelen";
}

@if (User.IsInRole("Manager") || User.IsInRole("Systeembeheerder"))
{
    <div class="w-100">
        <div class="shadow d-flex flex-column border p-4 bg-white rounded mt-4">
            <h4>Onbeschikbaarheid</h4>
            <table id="ApprovalTable" class="display table">
                <thead>
                <tr>
                    <th>Medewerker</th>
                    <th>Start tijd</th>
                    <th>Eind tijd</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Beoordelen</th>
                </tr>
                </thead>
                <tbody>
                @foreach (Availability sch in Model)
                {
                    <tr>
                        <td>@sch.Employee.FirstName @sch.Employee.LastName</td>
                        <td>@sch.Start</td>
                        <td>@sch.End</td>
                        <td>@sch.ApprovalStatus</td>
                        <td>@sch.Type</td>

                        <td>
                            <a type="button" class="btn btn-success" asp-controller="Agenda" asp-action="Approve" asp-route-id="@sch.Id">
                                <i class="bi bi-check-lg"></i>
                            </a>
                            <a type="button" class="btn btn-danger" asp-controller="Agenda" asp-action="Disapprove" asp-route-id="@sch.Id">
                                <i class="bi bi-x-lg"></i>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript" src="~/js/Agenda/Approval.js"></script>
}