@using Bumbo.Web.Models.Agenda
@using Bumbo.Domain.Models
@model AvailabilityViewModel

@{
    ViewBag.Title = "Onbeschikbaarheid";
}
<div class="container-fluid">
    @if (User.IsInRole("Manager") || User.IsInRole("Medewerker") || User.IsInRole("Systeembeheerder")) {
    <h1 class="text-white">Beschikbaarheid</h1>

    <div class="d-flex">
        <div class="w-25">
            <div class="me-4 mt-4">
                <div class="rounded bg-white shadow p-4">
                    <h4>Onbeschikbaarheid toevoegen</h4>
                    <div class="d-flex">
                        <div class="d-flex flex-column w-100">
                            <form asp-controller="Agenda" asp-action="Availability" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input type="hidden" asp-for="Availability.EmployeeId">
                                    <label>Starttijd</label>
                                    <div class="input-group mb-3">
                                        <input asp-for="Availability.Start" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" type="datetime-local">
                                    </div>
                                    <label>Eindtijd</label>
                                    <div class="input-group mb-3">
                                        <input asp-for="Availability.End" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" type="datetime-local">
                                    </div>
                                    <label>Type</label>
                                    <div class="input-group mb-3">
                                        <select class="form-select" asp-for="Availability.Type" asp-items="Html.GetEnumSelectList<Availability.AvailabilityType>()"></select>
                                    </div>
                                </div>
                                <button type="submit" class="btn bg-bumbo-yellow">Toevoegen</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="w-75">
            <div class="shadow d-flex flex-column border p-4 bg-white rounded mt-4">
                <h4>Onbeschikbaarheid</h4>
                <table id="AvailabilityTable" class="display table">
                    <thead>
                    <tr>
                        <th>Starttijd</th>
                        <th>Eindtijd</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Opties</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (Availability availability in Model.Availabilities)
                    {
                        <tr>
                            <td>@availability.Start</td>
                            <td>@availability.End</td>
                            <td>@availability.ApprovalStatus</td>
                            <td>@availability.Type</td>
                            
                            <td>
                                <a type="button" class="btn btn-dark" asp-controller="Agenda" asp-action="EditAvailability" asp-route-availabilityId="@availability.Id">
                                    <i class="bi bi-pen-fill"></i>
                                </a>
                                <a type="button" class="btn btn-danger" onclick="DeleteAvailability(@Model.Availability.EmployeeId, @availability.Id)">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

        <div class="modal fade" id="availabilityModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Onbeschikbaarheid verwijderen</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" data-bs-toggle="modal">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Weet u zeker dat u deze dienst wilt verwijderen?
                    </div>
                    <div class="modal-footer">
                        <form method="post">
                            <input type="hidden" id="deleteEmployeeAvailabilityId" name="employeeId">
                            <input type="hidden" id="deleteAvailabilityId" name="availabilityId">
                            <button type="submit" id="deleteButton" class="btn btn-danger" asp-controller="Agenda" asp-action="DeleteAvailability">Verwijder</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="~/js/Agenda/Availability.js"></script>
    }
</div>