@{
    ViewData["Title"] = "Agenda";
}
@{
    int count = 0;
}
<div class="container-fluid">
    @if (User.IsInRole("Manager") || User.IsInRole("Medewerker") || User.IsInRole("Systeembeheerder"))
    {
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="text-white">Agenda</h1>
        </div>
        
    <div class="d-flex mt-4">
        <div class="calendar shadow d-flex flex-column border w-100 p-3 bg-white rounded">
            <div id="calendar"></div>
        </div>
    </div>

    <div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle"><label id="idEvent"></label>Dienst details</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" data-bs-toggle="modal">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="col-form-label">Starttijd: </h4>
                    <div class="mb-3">
                        <div id="detailsStartDate"></div>
                    </div>
                    
                    <h4 class="col-form-label">Eindtijd: </h4>
                    <div class="mb-3">
                        <div id="detailsEndDate"></div>
                    </div>
                    
                    <h4 class="col-form-label">Afdeling: </h4>
                    <div class="mb-3">
                        <div id="detailsDepartment"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex mt-4 rounded bg-white shadow p-3 w-100 flex-column">
        <h4>Onbeschikbaarheid</h4>
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Starttijd</th>
                <th>Eindtijd</th>
                <th>Status</th>
                <th>Type</th>
                <th>Opties</th>
            </tr>
            </thead>
            <tbody>

            @foreach (dynamic availability in ViewBag.Availabilities)
            {
                count++;
                if (count > 5) break;
                <tr>
                    <td>@availability.Start</td>
                    <td>@availability.End</td>
                    <td>@availability.ApprovalStatus</td>
                    <td>@availability.Type</td>

                    <td>
                        <a type="button" class="btn btn-dark" asp-controller="Agenda" asp-action="EditAvailability" asp-route-availabilityId="@availability.Id">
                            <i class="bi bi-pen-fill"></i>
                        </a>
                        <a type="button" class="btn btn-danger" onclick="DeleteAvailability(@availability.EmployeeId, @availability.Id)">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <div class="mt-1">
            <a class="btn bg-bumbo-yellow text-black" asp-controller="Agenda" asp-action="Availability">Zie meer</a>
        </div>
    </div>

    <div class="modal fade" id="availabilityModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Beschikbaarheid verwijderen</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" data-bs-toggle="modal">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    Weet u zeker dat u deze dienst wilt verwijderen?
                </div>
                <div class="modal-footer">
                    <form method="post">
                        <input type="hidden" id="deleteEmployeeAvailabilityId" name="employeeId">
                        <input type="hidden" id="deleteAvailabilityId" name="availabilityId">
                        <button type="submit" id="deleteButton" class="btn btn-danger" asp-controller="Agenda" asp-action="DeleteAvailability">Verwijder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/js/Agenda/EmployeeAgenda.js"></script>
    }
</div>