@using Bumbo.Web.Models.Agenda
@using Bumbo.Domain.Models
@model ScheduleViewModel
@{
    ViewData["Title"] = "Agenda";
}
<div class="container-fluid">
@if (User.IsInRole("Manager") || User.IsInRole("Systeembeheerder"))
{
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-white">Agenda</h1>
        <div>
            <a class="btn bg-gray-800 text-white" asp-controller="Agenda" asp-action="Approval">Onbeschikbaarheid</a>
            <a class="btn bg-gray-800 text-white" asp-controller="Agenda" asp-action="PublishSchedule">Rooster publiceren</a>
        </div>
    </div>

    <div class="d-flex mt-4">
        <div class="calendar shadow d-flex flex-column border w-100 p-3 bg-white rounded">
            <div id="calendar"></div>
        </div>
    </div>

    <div class="d-flex">
        <div class="w-25 flex-column">

            <div class="me-4 mt-4">
                <div class="rounded bg-white shadow p-4">
                    <h4 class="mb-2">Kleuraanduiding</h4>
                    <div class="rounded-pill bg-primary text-white text-center mb-2">Blauw - Gepubliceerd</div>
                    <div class="rounded-pill bg-secondary text-white text-center mb-2">Grijs - Niet gepubliceerd</div>
                    <div class="rounded-pill bg-success text-white text-center mb-2">Groen - Ziekmelding</div>
                </div>
            </div>
            
            <div class="me-4 mt-4">
                <div class="rounded bg-white shadow p-4">
                    <h4>Dienst toevoegen</h4>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <div class="mb-3">
                                <label class="col-form-label">Medewerker</label>
                                <select asp-for="Schedule.EmployeeId" class="form-select" asp-items="@ViewBag.AvailableEmployees">
                                    <option selected disabled>Selecteer medewerker...</option>
                                </select>
                                <span asp-validation-for="Schedule.EmployeeId" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label class="col-form-label">Starttijd</label>
                                <input asp-for="Schedule.StartDate" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" type="datetime-local">
                            </div>

                            <div class="mb-3">
                                <label class="col-form-label">Eindtijd</label>
                                <input asp-for="Schedule.EndDate" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" type="dateTime-local">
                            </div>

                            <div class="mb-3">
                                <label class="col-form-label">Afdeling</label>
                                <select asp-for="Schedule.DepartmentId" class="form-select" asp-items="ViewBag.Departments"></select>
                                <span asp-validation-for="Schedule.DepartmentId" class="text-danger"></span>
                            </div>

                            <div class="mb-3 d-flex flex-row">
                                <input class="form-check" type="checkbox" asp-for="Schedule.Finalised">
                                <label class="ms-1">Gepubliceerd</label>

                            </div>
                        </div>
                        <button type="submit" class="btn bg-bumbo-yellow">Opslaan</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="w-25">
            <div class="me-4 mt-4">
                <div class="rounded bg-white shadow p-4">
                    <h4>Prognose overzicht</h4>
                    <div class="mb-3">
                        <label class="col-form-label">Datum</label>
                        <select class="form-select" id="prognoseSelect" asp-items="ViewBag.Prognoses" onchange="getForecast()">
                            <option selected disabled>Selecteer een datum...</option>
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label class="col-form-label">Vakkenvullen</label>
                        <input readonly id="stockId" type="text" class="form-control">
                    </div>
                    
                    <div class="mb-3">
                        <label class="col-form-label">Kassa</label>
                        <input readonly id="cashierId" type="text" class="form-control">
                    </div>
                    
                    <div class="mb-3">
                        <label class="col-form-label">Vers</label>
                        <input readonly id="freshId" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="w-50">
            <div class="me-4 mt-4">
                <div class="rounded bg-white shadow p-4">
                    <h4>Ziekmeldingen</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Medewerker</th>
                            <th>Starttijd</th>
                            <th>Eindtijd</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Availability availability in Model.Availabilities)
                        {
                            <tr>
                                <td>@availability.Employee.FirstName @availability.Employee.LastName</td>
                                <td>@availability.Start</td>
                                <td>@availability.End</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    @if (Model.Availabilities.Count == 0)
                    {
                        <div>Er zijn op het moment geen ziekmeldingen.</div>
                        <div>Wanneer er ziekmeldingen worden doorgegeven zullen deze hier verschijnen.</div>
                    }
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="~/js/Agenda/ManagerAgenda.js"></script>
}
</div>